@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e8f3e2;
  --foreground: #333;
}

@font-face {
  font-family: "Mona Sans";
  src: url("/assets/Mona_Sans/MonaSans-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Mona Sans Italic";
  src: url("/assets/Mona_Sans/MonaSans-Italic-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

/* Apply font globally */
body {
  font-family: "Mona Sans", sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}
